In [1]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv('/home/magdazawora/workspace/machineL/dw_matrix/data/7004_1.csv', error_bad_lines=False)

b'Skipping line 251: expected 48 fields, saw 49\nSkipping line 444: expected 48 fields, saw 50\nSkipping line 847: expected 48 fields, saw 49\nSkipping line 848: expected 48 fields, saw 49\nSkipping line 1018: expected 48 fields, saw 49\nSkipping line 1575: expected 48 fields, saw 51\nSkipping line 2133: expected 48 fields, saw 49\nSkipping line 2922: expected 48 fields, saw 51\nSkipping line 3777: expected 48 fields, saw 51\nSkipping line 4057: expected 48 fields, saw 49\nSkipping line 4239: expected 48 fields, saw 49\nSkipping line 4240: expected 48 fields, saw 49\nSkipping line 4384: expected 48 fields, saw 49\nSkipping line 4385: expected 48 fields, saw 49\nSkipping line 5388: expected 48 fields, saw 49\nSkipping line 5480: expected 48 fields, saw 49\nSkipping line 5481: expected 48 fields, saw 49\nSkipping line 5907: expected 48 fields, saw 50\nSkipping line 5908: expected 48 fields, saw 50\nSkipping line 6600: expected 48 fields, saw 49\nSkipping line 6601: expected 48 fields, saw 49\nSkipping line 6602: expected 48 fields, saw 49\nSkipping line 6603: expected 48 fields, saw 49\nSkipping line 7227: expected 48 fields, saw 49\nSkipping line 7228: expected 48 fields, saw 49\nSkipping line 7229: expected 48 fields, saw 49\nSkipping line 7267: expected 48 fields, saw 51\nSkipping line 9025: expected 48 fields, saw 49\nSkipping line 9026: expected 48 fields, saw 49\nSkipping line 9027: expected 48 fields, saw 49\nSkipping line 9417: expected 48 fields, saw 50\nSkipping line 10815: expected 48 fields, saw 49\nSkipping line 11034: expected 48 fields, saw 50\nSkipping line 11059: expected 48 fields, saw 49\nSkipping line 11060: expected 48 fields, saw 49\nSkipping line 11339: expected 48 fields, saw 50\nSkipping line 11357: expected 48 fields, saw 49\nSkipping line 11358: expected 48 fields, saw 49\nSkipping line 11646: expected 48 fields, saw 49\nSkipping line 11647: expected 48 fields, saw 49\nSkipping line 12161: expected 48 fields, saw 50\nSkipping line 12307: expected 48 fields, saw 49\nSkipping line 12308: expected 48 fields, saw 49\nSkipping line 12614: expected 48 fields, saw 49\nSkipping line 12615: expected 48 fields, saw 49\nSkipping line 12616: expected 48 fields, saw 49\nSkipping line 12617: expected 48 fields, saw 49\nSkipping line 12618: expected 48 fields, saw 49\nSkipping line 12619: expected 48 fields, saw 49\nSkipping line 12620: expected 48 fields, saw 49\nSkipping line 12621: expected 48 fields, saw 49\nSkipping line 12622: expected 48 fields, saw 49\nSkipping line 12623: expected 48 fields, saw 49\nSkipping line 12799: expected 48 fields, saw 49\nSkipping line 14200: expected 48 fields, saw 49\nSkipping line 14595: expected 48 fields, saw 49\n'
b'Skipping line 16747: expected 48 fields, saw 49\nSkipping line 16748: expected 48 fields, saw 49\nSkipping line 16749: expected 48 fields, saw 49\nSkipping line 16750: expected 48 fields, saw 49\nSkipping line 16751: expected 48 fields, saw 49\nSkipping line 16752: expected 48 fields, saw 49\nSkipping line 16753: expected 48 fields, saw 49\nSkipping line 17318: expected 48 fields, saw 49\nSkipping line 17319: expected 48 fields, saw 49\nSkipping line 17766: expected 48 fields, saw 49\nSkipping line 17767: expected 48 fields, saw 49\nSkipping line 18000: expected 48 fields, saw 52\nSkipping line 18001: expected 48 fields, saw 52\nSkipping line 18308: expected 48 fields, saw 51\nSkipping line 19223: expected 48 fields, saw 52\nSkipping line 19224: expected 48 fields, saw 52\n'
/home/magdazawora/anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (20,21,25,29,30,36) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
df.head()

,id,asins,brand,categories,colors,count,dateAdded,dateUpdated,descriptions,dimension,...,prices.warranty,quantities,reviews,sizes,skus,sourceURLs,upc,vin,websiteIDs,weight
0,AVpfHrJ6ilAPnD_xVXOI,NaN,Josmo,"Clothing,Shoes,Men's Shoes,All Men's Shoes",NaN,NaN,2016-11-07T00:45:12Z,2016-11-07T00:45:12Z,"[{""dateSeen"":[""2016-11-07T00:45:12Z""],""sourceU...",NaN,...,NaN,NaN,NaN,NaN,NaN,https://www.walmart.com/ip/Josmo-8190-Plain-In...,6.993020e+11,NaN,NaN,NaN
1,AVpfHrJ6ilAPnD_xVXOI,NaN,Josmo,"Clothing,Shoes,Men's Shoes,All Men's Shoes",NaN,NaN,2016-11-07T00:45:12Z,2016-11-07T00:45:12Z,"[{""dateSeen"":[""2016-11-07T00:45:12Z""],""sourceU...",NaN,...,NaN,NaN,NaN,NaN,NaN,https://www.walmart.com/ip/Josmo-8190-Plain-In...,6.993020e+11,NaN,NaN,NaN
2,AVpfHsWP1cnluZ0-eVZ7,NaN,SERVUS BY HONEYWELL,"All Men's Shoes,Shoes,Men's Shoes,Clothing",NaN,NaN,2016-06-14T04:29:57Z,2016-07-09T20:26:48Z,"[{""dateSeen"":[""2016-07-09T20:26:48Z""],""sourceU...",NaN,...,NaN,NaN,NaN,NaN,NaN,http://www.walmart.com/ip/Studs-Shoe-Large-Pr-...,NaN,NaN,NaN,NaN
3,AVpfHsWP1cnluZ0-eVZ7,NaN,SERVUS BY HONEYWELL,"All Men's Shoes,Shoes,Men's Shoes,Clothing",NaN,NaN,2016-06-14T04:29:57Z,2016-07-09T20:26:48Z,"[{""dateSeen"":[""2016-07-09T20:26:48Z""],""sourceU...",NaN,...,NaN,NaN,NaN,NaN,NaN,http://www.walmart.com/ip/Studs-Shoe-Large-Pr-...,NaN,NaN,NaN,NaN
4,AVpfHsWP1cnluZ0-eVZ7,NaN,SERVUS BY HONEYWELL,"All Men's Shoes,Shoes,Men's Shoes,Clothing",NaN,NaN,2016-06-14T04:29:57Z,2016-07-09T20:26:48Z,"[{""dateSeen"":[""2016-07-09T20:26:48Z""],""sourceU...",NaN,...,NaN,NaN,NaN,NaN,NaN,http://www.walmart.com/ip/Studs-Shoe-Large-Pr-...,NaN,NaN,NaN,NaN

In [8]:
df.columns

Index(['id', 'asins', 'brand', 'categories', 'colors', 'count', 'dateAdded',
       'dateUpdated', 'descriptions', 'dimension', 'ean', 'features',
       'flavors', 'imageURLs', 'isbn', 'keys', 'manufacturer',
       'manufacturerNumber', 'merchants', 'name', 'prices.amountMin',
       'prices.amountMax', 'prices.availability', 'prices.color',
       'prices.condition', 'prices.count', 'prices.currency',
       'prices.dateAdded', 'prices.dateSeen', 'prices.flavor', 'prices.isSale',
       'prices.merchant', 'prices.offer', 'prices.returnPolicy',
       'prices.shipping', 'prices.size', 'prices.source', 'prices.sourceURLs',
       'prices.warranty', 'quantities', 'reviews', 'sizes', 'skus',
       'sourceURLs', 'upc', 'vin', 'websiteIDs', 'weight'],
      dtype='object')

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19315 entries, 0 to 19314
Data columns (total 48 columns):
id                     19315 non-null object
asins                  2571 non-null object
brand                  19057 non-null object
categories             19315 non-null object
colors                 11013 non-null object
count                  0 non-null float64
dateAdded              19315 non-null object
dateUpdated            19315 non-null object
descriptions           9841 non-null object
dimension              2991 non-null object
ean                    9963 non-null float64
features               13925 non-null object
flavors                0 non-null float64
imageURLs              18271 non-null object
isbn                   0 non-null float64
keys                   19315 non-null object
manufacturer           6663 non-null object
manufacturerNumber     15087 non-null object
merchants              13968 non-null object
name                   19315 non-null object
prices.amountMin       19305 non-null object
prices.amountMax       19315 non-null object
prices.availability    125 non-null object
prices.color           742 non-null object
prices.condition       12612 non-null object
prices.count           14 non-null object
prices.currency        19304 non-null object
prices.dateAdded       19311 non-null object
prices.dateSeen        19295 non-null object
prices.flavor          8 non-null object
prices.isSale          19305 non-null object
prices.merchant        13778 non-null object
prices.offer           6031 non-null object
prices.returnPolicy    982 non-null object
prices.shipping        5726 non-null object
prices.size            653 non-null object
prices.source          13 non-null object
prices.sourceURLs      19300 non-null object
prices.warranty        52 non-null object
quantities             4 non-null float64
reviews                1659 non-null object
sizes                  5968 non-null object
skus                   8737 non-null object
sourceURLs             19294 non-null object
upc                    10756 non-null float64
vin                    0 non-null float64
websiteIDs             0 non-null float64
weight                 855 non-null object
dtypes: float64(8), object(40)
memory usage: 7.1+ MB

In [13]:
df['prices.currency'].unique()

array(['USD', 'AUD', 'CAD', 'EUR', 'GBP', nan,
       'UnbeatableSale.com, Inc. - Walmart.com',
       'PalmBeach Jewelry - Walmart.com', 'SHOEBACCA LTD. - Walmart.com',
       'Shoes.com', 'Wholesale Costume and Party Supplies - Walmart.com'],
      dtype=object)